<form method="POST" action="/api/shorten">
  <div class="form-group">
    <label for="URL">Link</label>
    <input type="url" class="form-control form-control-sm" name="URL" placeholder="Link here" />
  </div>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>